<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>
	<table>
		<tr>
			<th>No.</th>
			<th>Tarea</th>
			<th>Duración</th>
			<th></th>
		</tr>
		<tr *ngFor="let tarea of tareas;index as i;">
			<td>{{i}}</td>
			<td>{{tarea.titulo}}</td>
			<td>{{tarea.minutos}}</td>
			<td><button class="button" (click)="eliminarTarea(i)">Eliminar</button></td>
		</tr>
	</table>
	<hr>
	<h2>Nueva Tarea</h2>
	<form [formGroup]="nuevaTarea" (ngSubmit)="onSubmit()">
		<div>
			<label>Nombre de la tarea</label>
			<input id="titulo" type="text" formControlName="titulo">
		</div>
		<div>
			<label>Duración de la tarea</label>
			<input id="minutos" type="number" formControlName="minutos">
		</div>
		<button class="button" type="submit">Agregar</button>
	</form>
</div>